doctype html
html
    head
        title test
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
        link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.0.6/css/all.css')
    body
        .container
            .jumbotron.text-center        
                h1 Welcome #{user.displayName}!!